In [64]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [65]:
data = pd.read_csv('titanic.csv', index_col = 'PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [111]:
to_study = pd.DataFrame()
to_study['Pclass'] = data['Pclass']
to_study['Fare'] = data['Fare']
to_study['Age'] = data['Age']
to_study['Sex'] = data['Sex']
to_study['Survived'] = data['Survived']
to_study['Sex'].loc[to_study['Sex'] == 'male'] = 0
to_study['Sex'].loc[to_study['Sex'] == 'female'] = 1

In [113]:
to_study = to_study.dropna()

In [129]:
X = pd.DataFrame()
Y = pd.DataFrame()
X['Pclass'] = to_study['Pclass']
X['Fare'] = to_study['Fare']
X['Age'] = to_study['Age']
X['Sex'] = to_study['Sex']
Y = to_study['Survived']
X = X.values.tolist()
Y = list(Y)

In [131]:
clsf = DecisionTreeClassifier(random_state=241)
clsf.fit(X,Y)
importances = clsf.feature_importances_
importances

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])